body{
    background-color: rgb(0, 0, 0);
}

.navigator{
    list-style-type: none;
    overflow: hidden;
    background-color: #001532;
    position: fixed;
    top: 0%;
    right: 0%;
    margin-right: 0%;
    width: 100%;
    margin-top: 0%;
    transition: box-shadow 1s;
    z-index: 20;
}

.navigator a{
    float: inline-end;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 0%;
    margin-top: 0%;
    font-family: arial;
    text-transform: uppercase;
    transition: text-shadow 0.5s;
  
}



a:link{
    color: whitesmoke;
}


a:hover{
    color: red;
}

a:active{
    color: whitesmoke;
}

a:visited{
    color: whitesmoke;
}

.logo{
    position: fixed;
    width: 45px;
    z-index: 10;
    top: 0%;
    left: 5%;
    z-index: 20;
}

.logo:hover{
    cursor: pointer;
}


.logotext{
    box-sizing: border-box;
    position: fixed;
    color: whitesmoke;
    z-index: 20;
    width: 100px;
    top: -15px;
    left: 110px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.maintext{
    position: absolute;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    left: 350px;
    top: 50px;
    
}

.preview{
    position: absolute;
    display: block;
    margin: 100px;
    top: 200px;
    z-index: 10;
    
    
}

.preview img{
    width: 400px;
    height: 250px;
    margin: 50px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px white;
    
}

.preview img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    box-shadow: 1px 1px 10px white;
}

.textpreview{
    color: whitesmoke;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
    width: 100%;
    z-index: 10;
}

#eCommerce{
    position: absolute;
    top: 610px;
    left: 260px;
}

#Business{
    position: absolute;
    top: 610px;
    right:350px;

}

#Blog{
    position: absolute;
    left:320px;
    top:1010px;
}

#School{
    position: absolute;
    top: 1010px;
    right: 350px;
}

#Event{
    position: absolute;
    top: 1410px;
    left: 300px;

}

#Personal{
    position: absolute;
    top: 1410px;
    right: 350px;

}

#Corporate{
    position: absolute;
    left: 270px;
    top: 1815px;
}

#Nonprofit{
    position: absolute;
    top: 1815px;
    right:340px;
}


.bgpreview{
    position: absolute;
    display: block;
    margin: 100px;
    top: 130px;
    left: -70px;

}

.bgpreview img{
    width: 400px;
    height: 250px;
    margin: 50px;
    margin-top: 100px;
    filter: drop-shadow(1px 1px 2px rgb(255, 255, 255));
}
/*================================================================================*/

.figure2 img{
    position: absolute;
    width: 100%;
    top: 2000px;
    left: 0%;
    margin-left: 0%;

}


.text2{
    box-sizing: border-box;
    position: absolute;
    color: whitesmoke;
    top: 2050px;
    z-index: 12;
    font-size: 30px;
    width: 1000px;
    text-align: center;
    left: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}






























.footer{
    position: absolute;
    color: whitesmoke;
    box-sizing: border-box;
    background-color: #001532;
    width: 100%;
    left: 0%;
    top: 2700px;
    z-index: 9;
}

.footer p{
    margin-left: 50px;
}
